.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

h6 {
    display: inline;
    font-size: 30px;
    margin-right: 20px;
}

.time {
    font-size: 30px;
    font-weight: bold;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-footer {
  background-color: #222;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.cell:hover {
  border-color: black;
}

.cell {
  font-family: monospace;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin: 3px;
  padding: 0px;
  -webkit-transition-duration: 0.4s;
  vertical-align: middle;
}

.cellContainer {
  width: 24px;
  height: 24px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.roundButton {
  border-radius: 6px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  background-color: #00CBFF;
  color: white;
  -webkit-transition-duration: 0.4s;
  cursor: pointer;
}

.roundButton:hover {background-color: white; color: black;}

h3 {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.table {
  width: 100%;
}

.textcenter {
  width: 40px;
  height: 40px;
}

.tableImage {
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
}

.tableImage:hover {
  width: 50px;
  height: 50px;
}

.left {
  display: inline-block;
  text-align: center;
  margin-left: -3em;
  margin-right: 6em;
}

.right {
  display: inline-block;
  text-align: center;
  margin-right: -3em;
  margin-left: 6em;
}

.arrow {
  display: inline-block;
}

table {
  border-collapse: collapse;
}

table tr td {
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
}

h2 {
  color: #222222;
}

.moveButton {
  margin: 10px;
  border-radius: 6px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  background-color: #00FF65;
  color: white;
  -webkit-transition-duration: 0.4s;
  cursor: pointer;
}

.moveButton:hover {background-color: white; color: black;}

body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
