# exclude objects
*.o
# exclude binary folders
bin/
# exclude back-up files
*~
# exclude hidden files(dot files)
.*
# except gitignore itself
!.gitignore
# exclude log files
*.l
*.log
# exclude nohup accidental files
nohup.out
# exclude asio folder
asio-*/
# exclude html output folder
html/
# exclude node dependencies
node_modules/
# exclude node package lock
package-lock.json
