.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

h6 {
    display: inline;
    font-size: 30px;
    margin-right: 20px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.cell:hover {
  border-color: black;
}

.cell {
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-left: 3px;
  -webkit-transition-duration: 0.4s;
  margin-right: 3px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.roundButton {
  border-radius: 6px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  background-color: #00CBFF;
  color: white;
  -webkit-transition-duration: 0.4s;
  cursor: pointer;
}

.roundButton:hover {background-color: white; color: black;}

.tableImage {
  width: 75px;
  height: 75px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
}

.tableImage:hover {
  width: 100px;
  height: 100px;
}

.left {
  display: inline-block;
  text-align: center;
  margin-left: -3em;
  margin-right: 6em;
}

.right {
  display: inline-block;
  text-align: center;
  margin-right: -3em;
  margin-left: 6em;
}

.gridExample td:hover {
  border-color: black;
}

.gridExample td {
  width: 50px;
  height: 50px;
  -webkit-transition-duration: 0.4s;
  border: 1px solid #ddd;
}

.arrow {
  display: inline-block;
}

.fullExample {
  margin: 0 auto;
  padding: 40px;
  border: 1px dashed grey;
  text-align: center;
  width: 60%;
  position: relative;
}

h2 {
  color: #222222;
}

.moveButton {
  margin: 10px;
  border-radius: 6px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  background-color: #00FF65;
  color: white;
  -webkit-transition-duration: 0.4s;
  cursor: pointer;
}

.moveButton:hover {background-color: white; color: black;}
