table {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  /*border-collapse: collapse;*/
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width: 43%;
}

td {
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td:hover {
  background-color: #f5f5f5;
}

.textcenter {
  text-align: center;
}

.redcell {
  background-color: #ff33d4;
}

.redcell:hover {
  background-color: #ff66df;
}

.bluecell {
  background-color: #000000;
}

.bluecell:hover {
  background-color: #262626;
}

.greencell {
  background-color: #00ff00;
}

.greencell:hover {
  background-color: #00ff80;
}

.emptycell {
  background-color: #ffffff;
}

.emptycell:hover {
  background-color: #f5f5f5;
}
