table {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	/*border-collapse: collapse;*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

td {
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	padding-bottom: 3%;
	padding-top: 3%;
	padding-left: 3%;
	padding-right: 3%;
}

td:hover {
	background-color: #f5f5f5;
}

.textcenter {
	text-align: center;
}

.redcell {
	background-color: #ff0000;
}

.redcell:hover {
	background-color: #ff8000;
}

.bluecell {
	background-color: #0000ff;
}

.bluecell:hover {
	background-color: #00bfff;
}

.greencell {
	background-color: #00ff00;
}

.greencell:hover {
	background-color: #00ff80;
}

.emptycell {
	background-color: #ffffff;
}

.emptycell:hover {
	background-color: #f5f5f5;
}